aiobotocore
aiofiles
aiohttp
aioitertools
aiosignal
aiosqlite
alabaster
altair==5.5.0
anaconda-catalogs
anaconda-client
anaconda-cloud-auth
anyio
appdirs==1.4.4
applaunchservices
appnope
appscript
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens
async-timeout
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot 
black 
bleach 
blinker==1.9.0
bokeh
boltons 
botocore 
Bottleneck 
cachetools==5.5.2
certifi 
cffi 
chardet 
charset-normalizer 
click 
cloudpickle 
colorama 
colorcet 
comm 
constantly==15.1.0
contourpy 
cookiecutter 
cryptography 
cssselect==1.1.0
cycler 
cytoolz 
dask 
datasets 
datashader
datashape==0.5.4
debugpy 
decorator 
defusedxml 
diff-match-patch 
dill 
distributed 
distro==1.9.0
docstring-to-markdown 
docutils 
entrypoints 
et-xmlfile==1.1.0
executing
fastjsonschema
filelock
flake8
Flask
fonttools==4.25.0
frozenlist
fsspec
future
gensim
gitdb==4.0.12
GitPython==3.1.44
glob2
gmpy2
greenlet
h11==0.16.0
h5py
HeapDict
holoviews
httpcore==1.0.9
httpx==0.28.1
huggingface-hub
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jinja2-time
jiter==0.10.0
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter-server
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server_fileid
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kaleido
keyring
kiwisolver
lazy-object-proxy
lazy_loader
libarchive-c
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
mistune
more-itertools
mpmath
msgpack
multidict
multipledispatch
multiprocess
munkres==1.1.4
mypy-extensions
narwhals==1.42.0
navigator-updater
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
openai==1.86.0
openpyxl==3.0.10
packaging
pandas
pandocfilters
panel
param
parsel
parso
partd
pathlib
pathspec
patsy==0.5.3
pep8==1.7.1
pexpect
pickleshare
Pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply==3.11
poyo
prometheus-client
prompt-toolkit
Protego
protobuf==6.31.1
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow==11.0.0
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
pydeck==0.9.1
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-CoreServices
pyobjc-framework-FSEvents
pyodbc
pyOpenSSL
pyparsing
PyQt5-sip==12.11.0
pyrsistent
PySocks
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-slugify
python-snappy
pytoolconfig
pytz
pyviz-comms
PyWavelets
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib==1.5.0
regex
reportlab==4.4.1
requests
requests-file
requests-toolbelt
responses
rfc3339-validator
rfc3986-validator
rope
Rtree
ruamel-yaml-conda
ruamel.yaml
s3fs
safetensors
scikit-image
scikit-learn
scipy
Scrapy
seaborn
Send2Trash
service-identity
sip
six
smart-open
smmap==5.0.2
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data
statsmodels
streamlit==1.45.1
sympy
tables
tabulate
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers
toml
tomlkit
toolz
tornado
tqdm
traitlets
transformers
Twisted
typing_extensions==4.14.0
tzdata
uc-micro-py
ujson
Unidecode
urllib3
w3lib
watchdog
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug
whatthepatch
widgetsnbextension
wrapt
wurlitzer
xarray
xlwings
xxhash
xyzservices
y-py
yapf
yarl
ypy-websocket
zict
zipp
zope.interface
zstandard
